<!--
  #%L
  T3 :: Domain
  $Id$
  $HeadURL$
  %%
  Copyright (C) 2010 - 2012 IRD, Codelutin, Tony Chemit
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<body>

<h1>SunTimes class and command-line client</h1>

(c)2000 Kevin Boone/Web-Tomorrow
<p>
  This package provides a class <code>SunTimes</code> that can calculate sunrise
  and sunset times, and various types of twilight, anywhere on Earth on any
  date.
  It also includes a command-line client and the necessary helper classes.

<h2>SunTimes class</h2>

This is the main class in the package; although it only
exposes two methods (<code>getSunriseTimeUTC</code> and
<code>getSunsetTimeUTC</code>)
they can be used in a variety of ways.

<h3>Usage</h3>

Here is an example of the use of <code>getSunriseTimeUTC</code> to determine
the time of true sunrise, that is, the time at which the upper extreme of the
disk of the Sun just breaks over the horizon, assuming `average' atmospheric
conditions (see definitions of sunrise, twilight, etc., below).
<code>getSunsetTimeUTC</code> is used similarly.

<pre>
import com.web_tomorrow.util.suntimes.*;
Time t = getSunriseTimeUTC
  (year, month, day, longitude, lattitude, SunTimes.ZENITH);
System.out.println ("Sunrise is at " + t + " UTC");
</pre>

This displays the UTC sunrise time at the specified location in
hours, minutes and seconds. If a local time is required, the caller
will need to convert the UTC time as appropriate; it is not the
job of this package to do time conversions.
<p>
  Note that to calculate the sunrise or sunset time we need the exact
  date and the latitude and longitude.


<h3>Parameters</h3>

The date is specified as follows.

<ul>
  <li> day: 1-31
  <li> month: 1-12
  <li> year: four-digit year. Note that this value is only used for determining
    whether it is a leap year.
</ul>

The location is specified as follows.

<ul>
  <li> latitude: degrees north of the equator; south of the equator latitudes
    are negative
  <li> longitude: degrees east of the Greenwich Meridian; western longitudes are
    negative
</ul>

The final parameter, zenith, determines the type of result required. If set to
<code>SunTimes.ZENITH</code>
it indicates true sunrise/sunset. If set to <code>SunTimes.CIVIL_ZENITH</code>,
<code>SunTimes.NAUTICAL_ZENITH</code>,
or <code>SunTimes.ASTRONOMICAL_ZENITH</code> it indicates civil twilight,
nautical twilight, or astronomical
twilight respoectively. For an explanation of these terms, see below.

<h3>Algorithm</h3>

The algorithm implemented in this class is based on that described in the US
Naval Observatory's
<i>Almanac for Computers</i>, (1990; Nautical Almanac Office, United States
Naval
Observatory, Washington, DC 20392), and has been tested extensively against
the tables provided on this organization's Web site
(<a href=http://aa.usno.navy.mil>aa.usno.navy.mil</a>).
<p>
  True sunrise and true sunset conventionally refer to the times when the upper
  edge of the disk
  of the Sun appears on the horizon at the location of interest.
  Atmospheric conditions are assumed to be average, and the location is level.

<p>
  `Zenith' is the angle that the centre of the Sun makes to a line perpendicular
  to the Earth's surface.
  If the Sun were a point and the Earth were without an atmosphere, true sunset
  and sunrise would correspond
  to a 90-degree zenith.
  Because the Sun is not a point,
  and because the atmosphere refracts light,
  this 90-degree zenith does not, in fact, correspond to true sunset or sunrise;
  instead the centre of the Sun's disk
  must lie just below the horizon for the upper edge to be obscured. This means
  that a zenith of just above
  90 degrees must be used. The Sun subtends an angle of 16 minutes of arc, and
  atmospheric refraction
  accounts for 34 minutes or so, giving a total of 50 arcminutes. So the best
  overall figure for
  zenith is 90+(50/60) degrees for true sunrise/sunset, which is the value
  assigned to the constant
  <code>SunTimes.ZENITH</code>

<p>
  Even when the Sun is slightly below the horizon, a small amout of light is
  reflected from dust
  particles in the atmosphere, and it is not quite dark; this is twilight. The
  duration of twilight
  is more difficult to define than the times of sunrise and sunset, because
  light fades gradually
  as the sun sets. Conventionally we take a zenith of 96 degrees to signify
  twilight; this
  figure is usually called the <i>civil zenith</i>. This period of twilight is
  the time in which
  it is possible to carry out some forms of outdoor activities, even with no
  other source of
  light. Two other twilight zeniths are recognized: <i>nautical zenith</i> at
  102 degrees and
  <i>astronomical zenith</i> at 108 degrees. Nautical twilight is the point at
  which the
  horizon stops being visible at sea. Astronical twilight is the point at which
  the Sun
  really stops being a source of any illumination.

<p>
  Clearly the rise and set times will depend on the date. In theory there are
  also year-to-year variations in sunset/rise times, but they are incredibly
  tiny. This <code>SunTimes</code> methods require a year to be specified only
  to
  account for whether it is a leap year or not. For example, March 1st is one
  day
  later on a leap year, compared to non-leap years. In practice this is unlikely
  to be affect the result by more than a few seconds.

<h2>Supporting classes</h2>

<code>SunTimes</code> requires two supporting classes:
<code>com.web_tomorrow.utils.SunTimesException</code> and
<code>com.web_tomorrow.utils.Time</code>.

<code>SunTimesException</code> is thrown to indicate that the calculation
could not be carried out for some reason. For example, some northerly regions
are in daylight for long stretches of time; an attempt to calculate a sunset
time
for such a location at such a time will result in an exception.
<p>
  The <code>Time</code> class provides a simple model of time-of-day, which
  avoids
  the system-dependent features of the standard Java <code>Calendar</code>
  class. All the public
  methods in <code>SunTimes</code> return an object of class <code>Time</code>.
  In
  simple cases the application can just call <code>toString()</code> on it to
  get a displayable (24-hour clock) time.


<h2>Command-line client</h2>

<h3>Running the command-line client</h3>

The following command will run the command-line client, if suitably modified
for the file locations on your system.

<pre>
java -classpath $CLASSPATH:suntimes.jar:javapopt.jar com.web_tomorrow.utils.suntimes.SunTimesClient 
  [options] latitude longitude [day] [month] [year]
</pre>

To get a full list of options, use the <code>--help</code> switch. This package
includes a shell script that can be used to run the client and avoid typing the
class and classpath every time, but this will need to be modified to suit the
location in which you install the SunTimes JAR file.
<p>
  Any of the day, month and year can be omitted, and current values will be
  assumed. At least one option must be specified, to indicate how to convert
  the calculated UTC time to a local time, if at all. The switch
  <code>--utc</code> indicates that a UTC time is acceptable and does not need
  to
  be converted. Alternatively an offset in hours from GMT can be supplied with
  the <code>--offset</code> switch, or a timezone with the <code>--zone</code>
  switch.

<p>
  The results displayed are 24-hour clock times.

<p>
  Note that the program does not check that the arguments make sense, beyond
  being numbers. So it won't complain if you specify Feb 31st, year -20.

<p>
  Here are some examples.

<ul>

  <li> To find sunset and sunrise in London today (latitde 51 degrees N,
    longitude 0 degrees, approx)
    when daylight savings is not in effect (and therefore local time is UTC):

<pre>
suntimes -utc 51 0
</pre>

  <li> To find sunset and sunrise in Wayne, New Jersey, on June 25, 1990
    (latitde 40.9 degrees N, longitude 74.3 degrees W)
    when local time is 4 hours earlier than UTC:

<pre>
suntimes -offset -4 40.9 -74.3 25 6 1990 
</pre>

    Notice that offset is negative, because it is earlier than UTC, and
    longitude is negative because it is
    west of Meridian. The results should be -- sunrise 05:26, sunset 20:33. This
    is important because it
    is the test case presented in the NAO algorithm description.

  <li>To get a list of recognized time zones:

<pre>
suntimes -showzones
</pre>

  <li>To find the (civil) twilight times in Thule, Greenland (76 deg N, 68 deg
    W) on April 9th, 2001:

<pre>
suntimes -zone "America/Thule" 76 -68 9 4 2001 -twilight
</pre>

    Note that its northerly location gives Thule about 21 hours of daylight on
    this date.

</ul>

Finally, here are a few general notes about the client.

<ul>

  <li> If not specified it displays sunrise and sunset. Use the switch
    `--twilight' to get the
    (civil) twilight times instead. Alternatively use `--zenith' to specify an
    exact zenith.

  <li> Time zone codes are ISO format, e.g., `Europe/London', not the old
    three-letter codes.
    The switch `--showzones' displays a list of supported timezones. If the
    location required is
    not in the list, you can still convert to localtime explicitly using
    `--offset'. Remember that
    negative offsets correspond to places west of the Greenwich Meridian.

  <li> If using a timezone rather than an explicit offset, the program will
    attempt to correct
    for daylight savings time at the specified location. In reality, you may be
    able to do this
    better the the Java system; if in doubt, use an explicit time offset.

  <li> The program will tell you if you try to determine a non-existent sunrise
    or sunset time.
    For example, some northerly locations have no sunset for a large part of the
    year.

</ul>

<h2>Disclaimer and legal info</h2>

This package has been made available in the hope that it will be useful.
There is no warranty, and the author accepts no responsibility for any
adverse consequences of its use. Please feel free to use this code in any
way you see fit, except to claim it as your own work. For a more detailed
licensing statement see the file COPYING.txt in this package.

</body>

